@{
    ViewData["Title"] = "Index";
}

<h2>Form</h2>
<form action="/action_page.php">
    <h1>Login Form</h1>
    <div class="formcontainer">
        <hr />
        <div class="container">
            <label for="firstName"><strong>First Name</strong></label>
            <input type="text" placeholder="Enter First Name" name="firstName">
            <label for="lastName"><strong>Last Name</strong></label>
            <input type="text" placeholder="Enter Last Name" name="lastName">
            <label for="email"><strong>Email</strong></label>
            <input type="text" placeholder="Enter Email" name="email">
            <label for="comments"><strong>Comments</strong></label>
            <input type="textarea" placeholder="Enter Comments" name="comments">
        </div>
        <button type="submit">Submit</button>
</form>